#Deployment
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: back-office-support-webapp-deployment-ENVIRONMENT
  namespace: connekt4-prod
  labels:
    app: back-office-support-webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: back-office-support-webapp
  template:
    metadata:
      name: back-office-support-webapp
      namespace: connekt4-prod
      labels:
        app: back-office-support-webapp
        environment: ENVIRONMENT
    spec:
      containers:
      - name: back-office-support-webapp
        image: registry.gitlab.com/connekt4/back-office-support:VERSION
        envFrom:
          - secretRef:
             name: connekt4-back-office-support-webapp-secrets
      imagePullSecrets:
      - name: regcred-connekt4